@font-face {
    font-family: "Droid Sans";
    src: url("../fonts/droid-sans/regular.ttf") format("truetype");
}


@font-face {
    font-family: "Droid Sans";
    font-weight: bold;
    src: url("../fonts/droid-sans/bold.ttf") format("truetype");
}
