<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="application-name" content="File Explorer">
    <meta name="description" content="An Electron app for browsing your local file system">

    <title>Delete Confirmation</title>

    <link rel="stylesheet" href="../static/stylesheets/fonts.css">
    <link rel="stylesheet" href="../static/stylesheets/modals.css">
  </head>

  <body>
    <div id="app" class="app-wrapper">
      <p class="modal-message">Are you sure you want to delete these items?</p>
      <div class="modal-actions">
        <button class="btn">No</button>
        <button class="btn" autofocus>Yes</button>
      </div>
    </div>

    <script src="../static/vendor/vue/dist/vue.min.js"></script>
    <script src="../static/javascripts/delete-confirmation.js"></script>
  </body>
</html>
